// DEFAULTS

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 5000px;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}
.container{
    width: 80%;
    margin: 0;
}
// Default//

    .bar{
           width: 100%;
           background-color: #144087;
           height: 50px;
           position: fixed;
           display: flex;
           justify-content: space-between;
     .Start{
        margin-left: 370px;
        color: white;
        padding: 15px;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
    }
    .portfolio{
                display: flex;
                justify-content: flex-end;
                padding: 7px 20px;
                text-transform: uppercase;
                font-weight: 300px;
                margin-right: 230px;
                color: white;
                font-family: 'Kaushan Script', cursive;
                font-size: 11px;
                
            

                li{
                    cursor: pointer;
                    padding: 10px 20px;
                    transition: all 0.5s linear;
                }
                li:hover{
                    border: 0.1px solid;
                    border-radius: 10%;
                    background-color: teal;
                    
                }

    }
}
.main{
    display: flex;
    justify-content: center;

.Bootstrap{
    background-color: teal;
    width: 100%;
    height: 500px;
    padding: 10px;
    text-align: center;


    
    img{
       width: 200px;
       height: 200px;
        margin-top: 100px;

    }
    h3{
        color: white;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 2em;
    }
    .line{
        width: 48px;
        height: 1px;
        background-color: white;
        text-align: center;
        display: inline-block;
        
    }
    i{
        color: white;
        
    }
    p{
        color: white;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        padding: 10px;
       
    }
 }
}
.wrapper{
    display: flex;
    justify-content: center;

    h3{
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        padding-top: 30px;
    }
    .line{
        width: 48px;
        height: 2px;
        background-color: rgb(0, 0, 0);
        text-align: center;
        display: inline-block;
        
    }
}
.images1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    .container{
        width: 60%;
        margin: auto;
        img{
            width: 32%;
        }
    
    }
    
}
.ABOUT{
    display: flex;
    justify-content: center;
    background-color: teal;
    width: 100%;
    height: 300px;
    h3{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        text-align: center;
        color: white;
        padding-top: 30px;
    }
    .line{
        width: 60px;
        height: 1px;
        background-color: white;
        text-align: center;
        display: inline-block;
    }
    i{
        color: white;
    }
    button{
        width: 150px;
        height: 30px;
        margin-top: 150px;
        display: block;
        text-align: center;
        background-color: rgba($color: white, $alpha: 0.5);
        font-style: italic;
             
    }

}
.Contact{
    display: flex;
    justify-content: center;
    h3{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        text-align: center;
        color: black;
        padding-top: 30px;
    }
    .line{

        width: 130px;
        height: 1px;
        background-color: black;
        text-align: center;
        display: inline-block;
    }
    i{
        color: black;
    }
    input{
       margin-left:60px;
        text-align: center;
        cursor: pointer;
        font-size: 12px;
        margin-top: 20px;
        display: block;
        padding:10px;
        border: none;
        border-bottom: 0.1px solid grey;
    }
    hr{
        margin-top: 100px;
        width:300px;
    }
    button{
        border: none;
        background-color: teal;
        color: white;
        border-radius: 10%;
        margin-top: 30px;
        width: 60px;
        height: 40px;
    }
}